.modelNot{
    background-color: #fff;
    border-right: #fff;
}
.table_heading{
    width: 50%;
}
.modaldiv{
    width: 140%;
}
/* .modal-content {
    max-width: 800% !important;
} */
/* .modal-lgg{
    max-width: 540% !important;
} */